// header //

#logo {
  
   
        img.custom-logo{
            width: 216px;
            height: 14px;
        }
   
    
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 80px;
}

#menu-main-menu{
    display: flex;
    flex-direction: row;
    li{
        padding-left: 30px;
        list-style: none;
        a{
            text-decoration: none;
            color: black;
            size: 16px;
        }
    }
}

//footer //

.footer{
    ul{
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1PX black solid;
        padding: 10px 0;
       
        li{
            list-style: none;
            padding: 0 30px;
            a{
                text-decoration: none;
            }
        }
    }
}

//fonts//
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/assets/fonts/SpaceMono-Regular.woff2') format('woff2'),
      url('/assets/fonts/SpaceMono-Regular.woff') format('woff');
  }
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('/assets/fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('/assets/fonts/SpaceMono-Bold.woff') format('woff');
  }

body{
    font-family: 'Space Mono', monospace;
}